mixin slide-item(obj)
    - var numberSlide = ""
    if obj.numberSlide
        - numberSlide = " slide-item--" + obj.numberSlide

    div(class="slide-item" + numberSlide)
        div(class="box slide-item__content")
            h1(class="slide-item__title") !{obj.title}
            h2(class="slide-item__subtitle") !{obj.subtitle}

    // END .slide-item
