mixin promotion()
    div(class="promotion")
        div(class="promotion__description")
            p(class="promotion__title") Lorem
            p(class="promotion__text") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae?
        div(class="image-box promotion__image-box")
            img(class="image-box__img promotion__photo" src="images/ceo/product.jpg" alt="Promotion")

    // END .promotion
