.promotion {
    display: flex;
    flex-shrink: 0;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    box-sizing: border-box;

    @media (--L) {
        max-width: calc(100% / 5);
    }

    @media (--M) {
        flex-direction: column;
    }

    &__image-box {
        max-width: 600px;
        width: 100%;
        flex-shrink: 0;

        @media (--L) {
            max-width: 500px;
        }

        @media (--M) {
            max-width: 100%;
        }
    }

    &__description {
        max-width: calc(100% - 620px);
        width: 100%;
        flex-shrink: 0;
        margin-right: 20px;

        @media (--L) {
            max-width: calc(100% - 520px);
        }

        @media (--M) {
            max-width: 100%;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-color);
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 18px;
        line-height: calc(22/18);
        text-align: justify;
    }
}
