mixin promotion(obj)
    div(class="promotion")
        div(class="promotion__description")
            p(class="promotion__title") !{obj.title}
            p(class="promotion__text") !{obj.text}
        div(class="image-box promotion__image-box")
            img(class="image-box__img promotion__photo" src="images/ceo/product.jpg" alt="Promotion")

    // END .promotion
