mixin order()
    div(class="order")
        div(class="image-box order__image-box")
            img(class="image-box__img",
            src="images/products/product.jpg",
            alt="Product")
        div(class="order__description")
            p(class="order__title") Lorem ipsum dolor
            p(class="order__portion") Lorem ipsum dolor
            
            include ../../_blocks/order-toggle/order-toggle.pug
            +order-toggle()

        div(class="order__remove")
            button(class="button button--circle order__remove-button" type="button")
                svg(class="order__remove-img")
                    use(xlink:href="images/svg-sprite/svg-sprite.svg#delete")

    // END .order
