mixin map()
    div(class="map")
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.7772318466427!2d38.917695215581396!3d47.22094097916097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3fd5001fc1667%3A0x4f80e08277d23cc7!2z0J_QtdGC0YDQvtCy0YHQutCw0Y8g0YPQuy4sIDEwOSwg0KLQsNCz0LDQvdGA0L7Qsywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ3OTA0!5e0!3m2!1sru!2sru!4v1563912114311!5m2!1sru!2sru" width="600" height="400" style="border:0" allowfullscreen></iframe>

    // END .map
