@import "../social/social.css";

.footer {
    background: var(--main-color);
    padding-top: 50px;
    padding-bottom: 50px;

    &__box {
        overflow: hidden;
    }

    &__list {
        display: flex;
        margin: -30px;

        @media (--S) {
            margin: -10px;
        }

        @media (--XS) {
            flex-direction: column;
            margin: 0;
        }
    }

    &__item {
        width: calc(100% / 3);
        margin: 30px;

        @media (--S) {
            margin: 10px;
        }

        @media (--XS) {
            width: 100%;
            margin: 0;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        color: var(--white);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 20px;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &__text--link {
        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        &:hover {
            color: var(--hover-color);
        }

        &:active {
            color: var(--active-color);
        }
    }
}
