.ceo {
    text-align: center;
    padding-top: 50px;

    &__title {
        margin-bottom: 30px;
    }

    &__container-description {
        display: flex;

        @media (--M) {
            flex-direction: column;
        }
    }

    &__image-box {
        flex-shrink: 0;
        max-width: 600px;

        @media (--M) {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    &__description {
        text-align: left;
        margin-left: 20px;

        @media (--M) {
            margin-left: 0;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-color);
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__age {
        font-size: 18px;
        font-weight: 700;
        color: var(--main-color);
        margin-bottom: 10px;
    }

    &__text {
        font-size: 18px;
        line-height: calc(22/18);
        text-align: justify;
    }
}
