mixin ceo(obj)
    section(class="ceo")
        div(class="box ceo__content")
            h3(class="title ceo__title") Основатель
            div(class="ceo__container-description")
                img(class="ceo__photo" src="images/ceo/ceo.jpg" alt="Ceo")
                div(class="ceo__description")
                    p(class="ceo__name") Михаил Салимов
                    p(class="ceo__age") 28 лет
                    p(class="ceo__text") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae?

// END .ceo                    