@import "../nav/nav.css";
@import "../basket/basket.css";
@import "../header-contacts/header-contacts.css";
@import "../menu-mobile/menu-mobile.css";

.header {
    background: var(--main-color);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: hidden;

        @media (--M) {
            flex-direction: column;
        }

        @media (--S) {
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__contacts {
        margin-left: 37px;

        @media (--L) {
            margin-left: 17px;
        }
    }
}
