<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Shawarma</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&amp;display=swap&amp;subset=cyrillic" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/index.min.css" />
</head>

<body class="page">
    <header class="header">
        <div class="box header__container">
            <nav class="nav">
                <div class="nav__action">
                    <div class="logo nav__logo"><a class="logo__link" href="index.html">Lorem</a></div><!-- END .logo            --><button class="button-menu"><span class="button-menu__line"></span></button>
                </div>
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="#5">Lorem ipsum</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Lorem ipsum</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Lorem ipsum</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Lorem ipsum</a></li>
                </ul>
            </nav><!-- END .nav-->
            <div class="basket"><button class="basket__button" type="button"><img class="basket__img" src="images/svg-icons/cart.svg" /></button></div><!-- END .basket-->
        </div>
    </header><!-- END .header-->
    <main class="main">
        <div class="slider">
            <div class="slider__list">
                <div class="slide-item">
                    <div class="box slide-item__content">
                        <h1 class="slide-item__title">Lorem ipsum</h1>
                        <h2 class="slide-item__subtitle">Lorem ipsum</h2><button class="slide-item__button" type="button"><img class="slide-item__button-img" src="images/svg-icons/arrow-bottom.svg" /></button>
                    </div>
                </div><!-- END .slide-item-->
                <div class="slide-item slide-item--second">
                    <div class="box slide-item__content">
                        <h1 class="slide-item__title">Lorem ipsum</h1>
                        <h2 class="slide-item__subtitle">Lorem ipsum</h2><button class="slide-item__button" type="button"><img class="slide-item__button-img" src="images/svg-icons/arrow-bottom.svg" /></button>
                    </div>
                </div><!-- END .slide-item-->
                <div class="slide-item slide-item--third">
                    <div class="box slide-item__content">
                        <h1 class="slide-item__title">Lorem ipsum</h1>
                        <h2 class="slide-item__subtitle">Lorem ipsum</h2><button class="slide-item__button" type="button"><img class="slide-item__button-img" src="images/svg-icons/arrow-bottom.svg" /></button>
                    </div>
                </div><!-- END .slide-item-->
            </div>
            <div class="controls">
                <div class="box controls__content"><a class="controls__arrow controls__arrow--prev" href="#5"><img class="controls__img" src="images/svg-icons/left-arrow.svg" alt="Left arrow" /></a><a class="controls__arrow controls__arrow--next" href="#5"><img class="controls__img" src="images/svg-icons/right-arrow.svg" alt="Right arrow" /></a></div>
            </div><!-- END .controls-->
            <!-- END .slider-->
        </div>
        <section class="products">
            <div class="box products__content">
                <h3 class="title products__title">Lorem</h3>
                <div class="products__list">
                    <div class="product products__item">
                        <div class="image-box product__image-box"><img class="image-box__img product__img" src="images/products/product.jpg" alt="Product" /></div>
                        <h4 class="product__title">Lorem ipsum</h4>
                        <p class="product__composition">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div><!-- END .product-->
                    <div class="product products__item">
                        <div class="image-box product__image-box"><img class="image-box__img product__img" src="images/products/product.jpg" alt="Product" /></div>
                        <h4 class="product__title">Lorem ipsum</h4>
                        <p class="product__composition">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div><!-- END .product-->
                    <div class="product products__item">
                        <div class="image-box product__image-box"><img class="image-box__img product__img" src="images/products/product.jpg" alt="Product" /></div>
                        <h4 class="product__title">Lorem ipsum</h4>
                        <p class="product__composition">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div><!-- END .product-->
                    <div class="product products__item">
                        <div class="image-box product__image-box"><img class="image-box__img product__img" src="images/products/product.jpg" alt="Product" /></div>
                        <h4 class="product__title">Lorem ipsum</h4>
                        <p class="product__composition">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div><!-- END .product-->
                    <div class="product products__item">
                        <div class="image-box product__image-box"><img class="image-box__img product__img" src="images/products/product.jpg" alt="Product" /></div>
                        <h4 class="product__title">Lorem ipsum</h4>
                        <p class="product__composition">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div><!-- END .product-->
                    <div class="product products__item">
                        <div class="image-box product__image-box"><img class="image-box__img product__img" src="images/products/product.jpg" alt="Product" /></div>
                        <h4 class="product__title">Lorem ipsum</h4>
                        <p class="product__composition">Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div><!-- END .product-->
                </div>
            </div>
        </section><!-- END .products-->
        <section class="ceo">
            <div class="box ceo__content">
                <h3 class="title ceo__title">Lorem</h3>
                <div class="ceo__container-description">
                    <div class="image-box ceo__image-box"><img class="image-box__img ceo__photo" src="images/ceo/product.jpg" alt="Ceo" /></div>
                    <div class="ceo__description">
                        <p class="ceo__name">Михаил Салимов</p>
                        <p class="ceo__age">28 лет</p>
                        <p class="ceo__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae?</p>
                    </div>
                </div>
            </div>
        </section><!-- END .ceo-->
        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.7772318466427!2d38.917695215581396!3d47.22094097916097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3fd5001fc1667%3A0x4f80e08277d23cc7!2z0J_QtdGC0YDQvtCy0YHQutCw0Y8g0YPQuy4sIDEwOSwg0KLQsNCz0LDQvdGA0L7Qsywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ3OTA0!5e0!3m2!1sru!2sru!4v1563912114311!5m2!1sru!2sru" width="600" height="400" style="border:0" allowfullscreen></iframe></div><!-- END .map-->
    </main>
    <footer class="footer">
        <div class="box footer__box">
            <div class="footer__list">
                <div class="footer__item">
                    <p class="footer__title">Наш адрес:</p>
                    <p class="footer__text"> <svg class="footer__icon">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#location"></use>
                        </svg><span>Петровская 111</span></p>
                </div>
                <div class="footer__item">
                    <p class="footer__title">Время работы:</p>
                    <p class="footer__text"> <svg class="footer__icon">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#mode"></use>
                        </svg><span>10 до 22</span></p>
                </div>
                <div class="footer__item">
                    <p class="footer__title">Наши контакты:</p><a class="footer__text footer__text--link" href="tel:89034037730"><svg class="footer__icon">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#phone"></use>
                        </svg><span>89034037730</span></a><a class="footer__text footer__text--link" href="mailto:example@mail.ru"><svg class="footer__icon">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#mail"></use>
                        </svg><span>example@mail.ru</span></a>
                </div>
            </div>
            <div class="social">
                <ul class="social__list">
                    <li class="social__item"><a class="social__link" href="#5"><img class="social__icon" src="images/svg-icons/vk.svg" /></a></li>
                    <li class="social__item"><a class="social__link" href="#5"><img class="social__icon" src="images/svg-icons/youtube.svg" /></a></li>
                    <li class="social__item"><a class="social__link" href="#5"><img class="social__icon" src="images/svg-icons/instagram.svg" /></a></li>
                </ul>
            </div>
            <!--END .social-->
        </div>
    </footer><!-- END .footer-->
    <section class="popup popup-order">
        <h2 class="visually-hidden">Заказ</h2>
        <div class="popup__content popup-order__content">
            <div class="image-box popup-order__image-box"><img class="image-box__img" src="images/products/product.jpg" alt="Product" /></div>
            <p class="popup-order__name-product">Lorem ipsum</p>
            <p class="popup-order__cost-product">150р.</p>
            <div class="popup-order__portion">
                <p class="popup-order__portion-title">Порция</p><select class="popup-order__select">
                    <option class="popup-order__option">Большая</option>
                    <option class="popup-order__option">Средняя</option>
                    <option class="popup-order__option">Маленькая</option>
                </select>
            </div><button class="button popup-order__button" type="submit">Заказать</button>
        </div>
    </section><!-- END .popup-order-->
    <section class="popup popup-payment">
        <h3 class="visually-hidden">Оплата заказа</h3>
        <div class="popup__content popup-payment__content">
            <div class="popup-payment__header">
                <p class="popup-payment__title">Ваш заказ:</p>
            </div>
            <div class="order">
                <div class="image-box order__image-box"><img class="image-box__img" src="images/products/product.jpg" alt="Product" /></div>
                <div class="order__description">
                    <p class="order__title">Lorem ipsum dolor</p>
                    <p class="order__portion">Lorem ipsum dolor</p>
                    <div class="order-toggle"><button class="order-toggle__button" type="button"><svg class="order-toggle__button-img">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#cross"></use>
                            </svg></button><span class="order-toggle__text">1</span><button class="order-toggle__button" type="button"><svg class="order-toggle__button-img">
                                <use xlink:href="images/svg-sprite/svg-sprite.svg#minus"></use>
                            </svg></button><span class="order-toggle__cost">150p</span></div><!-- END .order-toggle-->
                </div>
                <div class="order__remove"><button class="button button--circle order__remove-button" type="button"><svg class="order__remove-img">
                            <use xlink:href="images/svg-sprite/svg-sprite.svg#delete"></use>
                        </svg></button></div>
            </div><!-- END .order-->
            <div class="form-payment">
                <form class="form-payment__content">
                    <div class="form-payment__item"><label class="form-payment__label" for="name">Имя</label><input class="form-payment__field" type="text" id="name" /></div>
                    <div class="form-payment__item"><label class="form-payment__label" for="phone">Телефон</label><input class="form-payment__field" type="text" id="phone" /></div>
                    <p class="form-payment__text">Вариант доставки</p>
                    <div class="form-payment__item form-payment__item--delivery"><input class="form-payment__field form-payment__field--delivery" type="radio" id="pickup" name="delivery" checked="checked" /><label class="form-payment__label form-payment__label--delivery" for="pickup">Самовывоз</label></div>
                    <div class="form-payment__item form-payment__item--delivery"><input class="form-payment__field form-payment__field--delivery" type="radio" id="delivery" name="delivery" /><label class="form-payment__label form-payment__label--delivery" for="delivery">Доставка</label></div><button class="button form-payment__button" type="submit">Оформить заказ</button>
                </form>
            </div><!-- END .form-payment-->
        </div>
    </section><!-- END . popup-payment-->
    <script src="scripts/common.js"></script>
</body>

</html>
