<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Shawarma</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&amp;display=swap&amp;subset=cyrillic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&amp;display=swap&amp;subset=cyrillic" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/common.css" />
</head>

<body class="page">
    <!-- END .header                -->
    <header class="header">
        <div class="box header__container">
            <!-- END .nav                -->
            <nav class="nav">
                <!-- END .logo            -->
                <div class="logo nav__logo"><a class="logo__link" href="index.html">Все свои</a></div>
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="#5">Шаурма</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Основатель</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Расположение</a></li>
                    <li class="nav__item"><a class="nav__link" href="#5">Акции</a></li>
                </ul>
            </nav><!-- END .basket        -->
            <div class="basket"><button class="basket__button" type="button"><img class="basket__img" src="images/svg-icons/cart.svg" /></button></div>
        </div>
    </header>
    <main class="main">
        <div class="slider">
            <div class="slider__list">
                <div class="slide-item">
                    <div class="box slide-item__content">
                        <h1 class="slide-item__title">Шаурма</h1>
                        <h2 class="slide-item__subtitle">Все свои</h2><button class="slide-item__button" type="button"><img class="slide-item__button-img" src="images/svg-icons/arrow-bottom.svg" /></button>
                    </div>
                </div><!-- END .slide-item        -->
                <div class="slide-item slide-item--second">
                    <div class="box slide-item__content">
                        <h1 class="slide-item__title">Шаурма</h1>
                        <h2 class="slide-item__subtitle">Все свои</h2><button class="slide-item__button" type="button"><img class="slide-item__button-img" src="images/svg-icons/arrow-bottom.svg" /></button>
                    </div>
                </div><!-- END .slide-item        -->
                <div class="slide-item slide-item--third">
                    <div class="box slide-item__content">
                        <h1 class="slide-item__title">Шаурма</h1>
                        <h2 class="slide-item__subtitle">Все свои</h2><button class="slide-item__button" type="button"><img class="slide-item__button-img" src="images/svg-icons/arrow-bottom.svg" /></button>
                    </div>
                </div><!-- END .slide-item        -->
            </div>
            <div class="controls">
                <div class="box controls__content"><a class="controls__arrow controls__arrow--prev" href="#5"><img class="controls__img" src="images/svg-icons/left-arrow.svg" alt="Left arrow" /></a><a class="controls__arrow controls__arrow--next" href="#5"><img class="controls__img" src="images/svg-icons/right-arrow.svg" alt="Right arrow" /></a></div>
            </div>
        </div>
        <section class="products">
            <div class="box products__content">
                <h3 class="title products__title">Шаурма</h3>
                <div class="products__list">
                    <div class="product products__item"><img class="product__img" src="images/products/product.jpg" alt="Product" />
                        <h4 class="product__title">Шаурма</h4>
                        <p class="product__composition">Лаваш, лист салата, мясо, помидор, огурец</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div>
                    <div class="product products__item"><img class="product__img" src="images/products/product.jpg" alt="Product" />
                        <h4 class="product__title">Шаурма</h4>
                        <p class="product__composition">Лаваш, лист салата, мясо, помидор, огурец</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div>
                    <div class="product products__item"><img class="product__img" src="images/products/product.jpg" alt="Product" />
                        <h4 class="product__title">Шаурма</h4>
                        <p class="product__composition">Лаваш, лист салата, мясо, помидор, огурец</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div>
                    <div class="product products__item"><img class="product__img" src="images/products/product.jpg" alt="Product" />
                        <h4 class="product__title">Шаурма</h4>
                        <p class="product__composition">Лаваш, лист салата, мясо, помидор, огурец</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div>
                    <div class="product products__item"><img class="product__img" src="images/products/product.jpg" alt="Product" />
                        <h4 class="product__title">Шаурма</h4>
                        <p class="product__composition">Лаваш, лист салата, мясо, помидор, огурец</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div>
                    <div class="product products__item"><img class="product__img" src="images/products/product.jpg" alt="Product" />
                        <h4 class="product__title">Шаурма</h4>
                        <p class="product__composition">Лаваш, лист салата, мясо, помидор, огурец</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div>
                    <div class="product products__item"><img class="product__img" src="images/products/product.jpg" alt="Product" />
                        <h4 class="product__title">Шаурма</h4>
                        <p class="product__composition">Лаваш, лист салата, мясо, помидор, огурец</p>
                        <p class="product__cost">150p</p><button class="button product__order" type="button">Заказать</button>
                    </div>
                </div>
            </div>
        </section><!-- END .ceo                    -->
        <section class="ceo">
            <div class="box ceo__content">
                <h3 class="title ceo__title">Основатель</h3>
                <div class="ceo__container-description"><img class="ceo__photo" src="images/ceo/ceo.jpg" alt="Ceo" />
                    <div class="ceo__description">
                        <p class="ceo__name">Михаил Салимов</p>
                        <p class="ceo__age">28 лет</p>
                        <p class="ceo__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi quidem enim ut officia officiis deleniti cum facere harum labore similique, asperiores in et distinctio nemo nostrum voluptate suscipit quod vitae?</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.7772318466427!2d38.917695215581396!3d47.22094097916097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3fd5001fc1667%3A0x4f80e08277d23cc7!2z0J_QtdGC0YDQvtCy0YHQutCw0Y8g0YPQuy4sIDEwOSwg0KLQsNCz0LDQvdGA0L7Qsywg0KDQvtGB0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMzQ3OTA0!5e0!3m2!1sru!2sru!4v1563912114311!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </main>
    <script src="scripts/common.js"></script>
</body>

</html>
