mixin products(obj)
    section(class="products")
        div(class="box products__content")
            h3(class="title products__title") Lorem
            div(class="products__list")
                include ../../_blocks/product/product.pug
                -
                    var products = [
                        {
                            title: "Lorem ipsum",
                            composition: "Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum",
                            cost: "150p",
                        },

                        {
                            title: "Lorem ipsum",
                            composition: "Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum",
                            cost: "150p",
                        },

                        {
                            title: "Lorem ipsum",
                            composition: "Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum",
                            cost: "150p",
                        },

                        {
                            title: "Lorem ipsum",
                            composition: "Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum",
                            cost: "150p",
                        },

                        {
                            title: "Lorem ipsum",
                            composition: "Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum",
                            cost: "150p",
                        },

                        {
                            title: "Lorem ipsum",
                            composition: "Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum",
                            cost: "150p",
                        },

                        {
                            title: "Lorem ipsum",
                            composition: "Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum",
                            cost: "150p",
                        },
                    ]

                each obj in products
                    +product(obj)(class="products__item")

    // END .products
