mixin products(obj)
    section(class="products")
        div(class="box products__content")
            h3(class="title products__title") Шаурма
            div(class="products__list")
                include ../../_blocks/product/product.pug
                -
                    var products = [
                        {
                            title: "Шаурма",
                            composition: "Лаваш, лист салата, мясо, помидор, огурец",
                            cost: "150p",
                        },

                        {
                            title: "Шаурма",
                            composition: "Лаваш, лист салата, мясо, помидор, огурец",
                            cost: "150p",
                        },

                        {
                            title: "Шаурма",
                            composition: "Лаваш, лист салата, мясо, помидор, огурец",
                            cost: "150p",
                        },

                        {
                            title: "Шаурма",
                            composition: "Лаваш, лист салата, мясо, помидор, огурец",
                            cost: "150p",
                        },

                        {
                            title: "Шаурма",
                            composition: "Лаваш, лист салата, мясо, помидор, огурец",
                            cost: "150p",
                        },

                        {
                            title: "Шаурма",
                            composition: "Лаваш, лист салата, мясо, помидор, огурец",
                            cost: "150p",
                        },

                        {
                            title: "Шаурма",
                            composition: "Лаваш, лист салата, мясо, помидор, огурец",
                            cost: "150p",
                        },
                    ]

                each obj in products
                    +product(obj)(class="products__item")  