.menu-mobile {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition-property: opacity, visibility, height;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    @media (--S) {
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__nav {
        @media (--S) {
            padding-bottom: 20px;
        }
    }

    &__list {
        @media (--S) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 0;
        }
    }
}
