mixin promotions()
    section(class="promotions")
        div(class="box promotions__content")
            h3(class="title promotions__title") Lorem
            
            include ../../_blocks/promotion/promotion.pug
            +promotion()

    // END .promotions
