@import "../logo/logo.css";
@import "../button-menu/button-menu.css";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 420px);

    @media (--L) {
        width: calc(100% - 390px);
    }

    @media (--M) {
        width: 100%;
    }

    &__action {
        @media (--S) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        padding-left: 30px;

        @media (--L) {
            padding-left: 15px;
        }
        @media (--M) {
            padding-left: 50px;
        }

        @media (--S) {
            display: none;
        }
    }

    &__link {
        font-size: 20px;
        font-weight: 700;
        color: var(--white);
        transition: color 0.25s ease;

        &:hover {
            color: var(--hover-color);
        }

        &:active {
           color: var(--active-color);
        }
    }
}

