@import "../logo/logo.css";
@import "../button-menu/button-menu.css";

.nav {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 150px);

    @media (--M) {
        width: calc(100% - 50px);
    }

    @media (--S) {
        flex-direction: column;
        width: 100%;
    }

    &__action {
        @media (--S) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }
    }

    &__logo {
        margin-right: 50px;

        @media (--M) {
            margin-right: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: calc(100% - 150px);

        @media (--M) {
            width: 100%;
        }

        @media (--S) {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__link {
        font-size: 20px;
        font-weight: 700;
        color: var(--white);
        transition: color 0.25s ease;

        @media (--S) {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: 8px 0;
            position: relative;
        }

        &:hover {
            color: var(--hover-color);
        }

        &:active {
           color: var(--active-color);
        }
    }
}
