mixin nav(obj)
    nav(class="nav")
        div(class="nav__action")
            include ../../_blocks/logo/logo.pug
            +logo(obj)(class="nav__logo")

            button(class="button-menu")
                span(class="button-menu__line")
        
        ul(class="nav__list")
            li(class="nav__item")
                a(class="nav__link" href="#5") Lorem ipsum
            li(class="nav__item")
                a(class="nav__link" href="#5") Lorem ipsum
            li(class="nav__item")
                a(class="nav__link" href="#5") Lorem ipsum
            li(class="nav__item")
                a(class="nav__link" href="#5") Lorem ipsum

    // END .nav
