mixin controls(obj)
    div(class="controls")
        div(class="box controls__content")
            a(class="controls__arrow controls__arrow--prev" href="#5")
                img(class="controls__img" src="images/svg-icons/left-arrow.svg" alt="Left arrow")
            a(class="controls__arrow controls__arrow--next" href="#5")
                img(class="controls__img" src="images/svg-icons/right-arrow.svg" alt="Right arrow")

    // END .controls
