.product {
    padding: 20px;
    text-align: center;
    width: 230px;
    box-shadow: 0 0 10px 0 var(--main-color);
    box-sizing: border-box;
    transition: box-shadow 0.5s ease;

    &:hover {
        box-shadow: 0 0 15px 0 var(--main-color);
    }

    &__img {
        margin-bottom: 20px;
    }

    &__title {
        font-size: 20px;
        color: var(--main-color);
        margin-bottom: 10px;
    }

    &__composition {
        font-size: 15px;
        color: var(--main-color);
        margin-bottom: 10px;
    }

    &__cost {
        font-size: 20px;
        font-weight: 700;
        color: var(--main-color);
        margin-bottom: 10px;
    }

    &__order {
        width: 100%;
    }
}
