mixin product(obj)
    div(class="product")&attributes(attributes)
        div(class="image-box product__image-box")
            img(class="image-box__img product__img" src="images/products/product.jpg" alt="Product")
        h4(class="product__title") !{obj.title}
        p(class="product__composition") !{obj.composition}
        p(class="product__cost") !{obj.cost}
        //button(class="button product__order" type="button") Заказать

    // END .product
