.button-menu {
    display: none;

    @media (--S) {
        display: block;
        width: 22px;
        height: 22px;
        padding: 0;
        background: none;
        border: none;
        outline: none;
    }

    &--closed {
        .button-menu__line {
            @media (--S) {
                transform: rotate(-135deg);
            }

            &:before {
                @media (--S) {
                    transform: rotate(270deg);
                    top: 0;
                }
            }

            &:after {
                @media (--S) {
                    display: none;
                }
            }
        }
    }

    &__line {
        @media (--S) {
            position: relative;
            display: block;
            width: 100%;
            height: 2px;
            background: #ffffff;
            transition: transform 0.3s ease;
        }
        
        &::before,
        &::after {
            @media (--S) {
                content: "";
                position: absolute;
                display: block;
                width: 22px;
                height: 2px;
                background: #ffffff;
            }
        }

        &::before {
            @media (--S) {
                top: -9px;
            }
        }

        &::after {
            @media (--S) {
                bottom: -9px;
            }
        }
    }
}
