.button {
    font-size: 18px;
    color: var(--white);
    border: 2px solid var(--main-color);
    background: var(--main-color);
    padding: 10px;
    outline: none;
    transition: background 0.25s ease;

    &:hover {
        background: #ffffff;
        color: var(--main-color);
    }

    &:active {
        border: 2px solid var(--active-color);
    }
}
