@import "../order/order.css";
@import "../form-payment/form-payment.css";

.popup-payment {
    display: none;
    
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}
