div(class="slider")
    div(class="slider__list")
        include ../../_blocks/slide-item/slide-item.pug
        -
            var slider = [
                {
                    title: "Lorem ipsum",
                    subtitle: "Lorem ipsum",
                },

                {
                    numberSlide: "second",
                    title: "Lorem ipsum",
                    subtitle: "Lorem ipsum",
                },

                {
                    numberSlide: "third",
                    title: "Lorem ipsum",
                    subtitle: "Lorem ipsum",
                },
            ] 

        each obj in slider
            +slide-item(obj)

    include ../../_blocks/controls/controls.pug
    +controls({
        controlTypePrev: "prev",
        controlTypeNext: "next"
    })

    // END .slider
