mixin logo(obj)
    div(class="logo")&attributes(attributes)
        a(class="logo__link" href="index.html") Все свои
            //- img(class="logo__img" src="#5" alt="Logo")
// END .logo            