mixin logo(obj)
    div(class="logo")&attributes(attributes)
        a(class="logo__link" href="index.html")
            div(class="image-box logo__image-box")
                img(class="image-box__img logo__img" src="images/logo/logo.png" alt="Logo")
    // END .logo
